/.cache
/.org-id-locations
/.python-environments
/tramp
/auto-save-list
/transient
/recentf
/projectile.cache
/projectile-bookmarks.eld
/bookmarks
/config.el
/elpa
/config.html
/generated.el*
/url/cookies*
/.lsp-session-v1
/SessionDesktop.el
/.extension/
/.dap-breakpoints
/eln-cache/
/projects
/ellama-sessions/
/server/
/org-roam.db
/bookmarks~
/%backup%~
/history
/readme.el
/quelpa/
/dape-breakpoints
/ellama/
/multisession/
/org-persist/
